USE [master]
GO
/****** Object:  Database [QuanLyBHNT (2)]    Script Date: 4/19/2023 7:16:59 AM ******/
CREATE DATABASE [QuanLyBHNT (2)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBHNT (2)_Data', FILENAME = N'D:\SQLSERVER\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QuanLyBHNT (2).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBHNT (2)_Log', FILENAME = N'D:\SQLSERVER\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QuanLyBHNT (2).ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBHNT (2)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBHNT (2)]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[manhanvien] [nvarchar](20) NOT NULL,
	[mabophan] [nvarchar](20) NULL,
	[tennhanvien] [varchar](50) NULL,
	[diachi] [varchar](100) NULL,
	[sodienthoai] [varchar](20) NULL,
 CONSTRAINT [PK__NHANVIEN__75A28B523E17EE41] PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[UF_DanhSachNhanVien]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_DanhSachNhanVien] (@TenPhong nvarchar(30)) 
RETURNS TABLE AS RETURN 
( 
 SELECT * 
 FROM NHANVIEN 
 WHERE manhanvien = @TenPhong 
); 
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[mabophan] [nvarchar](20) NOT NULL,
	[tenbophan] [nvarchar](100) NULL,
 CONSTRAINT [PK__BOPHAN__1CBC13507BD1B0E8] PRIMARY KEY CLUSTERED 
(
	[mabophan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[madichvu] [nvarchar](20) NOT NULL,
	[tendichvu] [nvarchar](100) NULL,
 CONSTRAINT [PK__DICHVU__7EA7308E051F33B4] PRIMARY KEY CLUSTERED 
(
	[madichvu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[mahang] [nvarchar](20) NOT NULL,
	[maloaihang] [nvarchar](20) NULL,
	[makhuyenmai] [nvarchar](20) NULL,
	[tenhang] [nvarchar](20) NULL,
	[quycach] [nvarchar](100) NULL,
	[dongia] [decimal](18, 0) NULL,
	[thoigianbaohanh] [nvarchar](20) NULL,
	[donvitinh] [nvarchar](20) NULL,
 CONSTRAINT [PK__HANG__97CCC9C93F76AB8F] PRIMARY KEY CLUSTERED 
(
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[makhach] [nvarchar](20) NOT NULL,
	[tenkhach] [nvarchar](20) NULL,
	[diachi] [nvarchar](100) NULL,
	[sodienthoai] [nvarchar](20) NULL,
 CONSTRAINT [PK__KHACH__98E32F15DD54CABB] PRIMARY KEY CLUSTERED 
(
	[makhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_MUA_HANG]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_MUA_HANG](
	[sohoadon] [float] NOT NULL,
	[makhach] [nvarchar](20) NULL,
	[mahang] [nvarchar](20) NULL,
	[manhanvien] [nvarchar](20) NULL,
	[dongiamua] [decimal](18, 0) NULL,
	[soluong] [float] NULL,
	[ngaymuahang] [date] NULL,
	[ngaygiaohang] [date] NULL,
	[tiendattruoc] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[sohoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_SUDUNG_DICHVU]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_SUDUNG_DICHVU](
	[sohoadon] [float] NOT NULL,
	[makhach] [nvarchar](20) NULL,
	[madichvu] [nvarchar](20) NULL,
	[manhanvien] [nvarchar](20) NULL,
	[tiendattruoc] [decimal](18, 0) NULL,
	[ngaysudungdichvu] [date] NULL,
	[ngaynhansanpham] [date] NULL,
	[giadichvuhinhthuc] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[sohoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[makhuyenmai] [nvarchar](20) NOT NULL,
	[tenkhuyenmai] [nvarchar](100) NULL,
 CONSTRAINT [PK__KHUYENMA__77F420CD60605ABE] PRIMARY KEY CLUSTERED 
(
	[makhuyenmai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[maloaihang] [nvarchar](20) NOT NULL,
	[tenloaihang] [nvarchar](100) NULL,
 CONSTRAINT [PK__LOAIHANG__62D3EFDC62D60605] PRIMARY KEY CLUSTERED 
(
	[maloaihang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_TOAN_TIEN]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_TOAN_TIEN](
	[sohoadon] [float] NOT NULL,
	[makhach] [nvarchar](20) NULL,
	[manhanvien] [nvarchar](20) NULL,
	[ngaythanhtoan] [date] NULL,
	[sotienthanhtoan] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[sohoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_KHUYENMAI] FOREIGN KEY([makhuyenmai])
REFERENCES [dbo].[KHUYENMAI] ([makhuyenmai])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_KHUYENMAI]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_LOAIHANG] FOREIGN KEY([maloaihang])
REFERENCES [dbo].[LOAIHANG] ([maloaihang])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_LOAIHANG]
GO
ALTER TABLE [dbo].[KHACH_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_MUA_HANG_HANG] FOREIGN KEY([mahang])
REFERENCES [dbo].[HANG] ([mahang])
GO
ALTER TABLE [dbo].[KHACH_MUA_HANG] CHECK CONSTRAINT [FK_KHACH_MUA_HANG_HANG]
GO
ALTER TABLE [dbo].[KHACH_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_MUA_HANG_KHACH] FOREIGN KEY([makhach])
REFERENCES [dbo].[KHACH] ([makhach])
GO
ALTER TABLE [dbo].[KHACH_MUA_HANG] CHECK CONSTRAINT [FK_KHACH_MUA_HANG_KHACH]
GO
ALTER TABLE [dbo].[KHACH_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_MUA_HANG_NHANVIEN] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[NHANVIEN] ([manhanvien])
GO
ALTER TABLE [dbo].[KHACH_MUA_HANG] CHECK CONSTRAINT [FK_KHACH_MUA_HANG_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACH_SUDUNG_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_SUDUNG_DICHVU_DICHVU] FOREIGN KEY([madichvu])
REFERENCES [dbo].[DICHVU] ([madichvu])
GO
ALTER TABLE [dbo].[KHACH_SUDUNG_DICHVU] CHECK CONSTRAINT [FK_KHACH_SUDUNG_DICHVU_DICHVU]
GO
ALTER TABLE [dbo].[KHACH_SUDUNG_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_SUDUNG_DICHVU_KHACH] FOREIGN KEY([makhach])
REFERENCES [dbo].[KHACH] ([makhach])
GO
ALTER TABLE [dbo].[KHACH_SUDUNG_DICHVU] CHECK CONSTRAINT [FK_KHACH_SUDUNG_DICHVU_KHACH]
GO
ALTER TABLE [dbo].[KHACH_SUDUNG_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_SUDUNG_DICHVU_NHANVIEN] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[NHANVIEN] ([manhanvien])
GO
ALTER TABLE [dbo].[KHACH_SUDUNG_DICHVU] CHECK CONSTRAINT [FK_KHACH_SUDUNG_DICHVU_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([mabophan])
REFERENCES [dbo].[BOPHAN] ([mabophan])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[THANH_TOAN_TIEN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_TIEN_KHACH] FOREIGN KEY([makhach])
REFERENCES [dbo].[KHACH] ([makhach])
GO
ALTER TABLE [dbo].[THANH_TOAN_TIEN] CHECK CONSTRAINT [FK_THANH_TOAN_TIEN_KHACH]
GO
ALTER TABLE [dbo].[THANH_TOAN_TIEN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_TIEN_NHANVIEN] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[NHANVIEN] ([manhanvien])
GO
ALTER TABLE [dbo].[THANH_TOAN_TIEN] CHECK CONSTRAINT [FK_THANH_TOAN_TIEN_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SelectCustomerstabledata]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectCustomerstabledata] (@sotienthanhtoan decimal)
AS 
BEGIN
     SELECT * 
     FROM THANH_TOAN_TIEN 
     WHERE sotienthanhtoan >= @sotienthanhtoan
END;
GO
/****** Object:  StoredProcedure [dbo].[tienthanhtoanlonhon100000]    Script Date: 4/19/2023 7:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tienthanhtoanlonhon100000]
AS 
BEGIN
     SELECT * 
     FROM THANH_TOAN_TIEN
     WHERE sotienthanhtoan > 100000
END;
GO
USE [master]
GO
